.cyan-400 {
    background-color: #26C6DA !important;
}

.teal-500 {
    background-color: #009688 !important;
}

.teal-400 {
    background-color: #26A69A !important;
}

.teal-300 {
    background-color: #4DB6AC !important;
}

.teal-200 {
    background-color: #80CBC4 !important;
}

.teal-100 {
    background-color: #B2DFDB !important;
}

.grey-900 {
    background-color: #212121 !important;
}